.card {
    cursor: pointer;
    user-select: none;

    .card-body {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: $cardColor;
        background: $cardBackground;
        border: 1px solid $cardBorderColor;
        border-radius: 5px;

        &:hover {
            opacity: 0.95;
        }

        .card-main-text {
            display: flex;
            align-items: center;

            p:nth-of-type(1) {
                font-size: 20px;
                margin-right: 32px;
            }
        }
    
        .card-title, .card-text {
            margin: 0px;
        }
    
        label {
            border: none;

            &:hover {
                opacity: 0.8;
            }
        }
    
        .cardButtons {
            display: flex;
            align-items: center;

            button {
                margin-left: 8px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    
    .card {
        width: 29rem !important;

        .card-main-text {
            p {
                font-size: 14px;
            }
            p:nth-of-type(2) {
                display: none;
            }
        }

        .card-title.h5 {
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 500px) {
    
    .card {
        width: 18rem !important;
        height: 5rem !important;

        .card-body {
            img {
                display: none;
            }
        }

        .card-main-text {
            p {
                font-size: 13px !important;
            }
            p:nth-of-type(2) {
                display: none;
            }
        }

        .card-title.h5 {
            font-size: 13px !important;
        }

        .card-text {
            font-size: 13px;
        }


    }
}