.card {
    cursor: pointer;
    user-select: none;

    .card-body {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #c9d1d9;
        background: #30363d;
        border: 1px solid #30363d;
        border-radius: 5px;
    
        .card-title, .card-text {
            margin: 0px;
        }
    
        label {
            border: none;
        }
    
        .cardButtons {
            display: flex;
            align-items: center;

            button {
                margin-left: 8px;
            }
        }
    }
}