$danger-color: #ff7c7c;

.form-container {
    display: flex;

    form {
        display: flex;
        flex-direction: column;
        background-color: #161b22;
        border: 1px solid #c9d1cd;
        border-radius: 5px;
        padding: 8px 20px 20px 20px;
        margin: 0 50px;

        div {
            text-align: center;
            margin: 5px;
        }

        h2 {
            text-align: center;
        }

        input {
            text-align: center;
            height: 30px;
        }

        input, h2 {
            margin: 5px;
        }

        button {
            margin: 16px 5px 0px 5px;
            width: 80px;
            border: none;
        }

        .submit {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .error-message {
        margin: 2px 0px;
    }
    
    .login-error {
        width: 180px;
        margin: 5px;
        color: $danger-color;
    }
    
    .danger {
        background: $danger-color;
    }
}