@import '../searchComponent/searchComponent.scss';
@import '../weatherComponent/weatherCardComponent/weatherCardComponent.scss';
@import '../weatherComponent/weatherPlaceComponent/weatherPlaceComponent.scss';
@import '../weatherComponent/weatherPlaceComponent/dayCardComponent/dayCardComponent.scss';

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cards-container {
        margin-bottom: 20px;
    }

    .spinner {
        margin-bottom: 30px
    }
}