@import '../loginComponent/loginFormComponent/loginFormComponent.scss';

.loginComponent {
    height: 100vh;
    background-color: $loginBackgorundColor;
    color: $loginColor;
    display: flex;
    justify-content: center;
    align-items: center;
}